[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{env}}.srikanthmurthi.site
Environment=CATALOGUE_HOST=catalogue-{{env}}.srikanthmurthi.site
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target